body {
  /* margin=espaços */
  margin: 0;
  /* padding=preenchimento interno*/
  font-family: 'Open Sans', sans-serif;
  
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  /* para ocuparmos toda a altura da tela utilizaremos o min-height: 100vh; , tendo também a possibilidade de adcionarmos a width*/
  /* utilizando o minimo para deixar o site aberto a sugestões e atraves dessa propriedade se adaptar  */
  min-height: 100vh;
}

.page {
  /* sempre bom colocar uma borda para identificar as dimensões das caixas */
 
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
  font-family: 'Mulish', sans-serif;
}

ul {
  list-style: none;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;

}

/* text-decoration= para tirar a linha do link */
a {
  color: #1F1534;
  text-decoration: none;  
}

ul li a {
  opacity: 0.5;
}

/* pseudo class - deixar negrito ao passar o mouse com opacidade */
ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

h1, ul {
  font-family: 'Mulish', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* adicionamos um width para quebra de linha, mas poderiamos usar o <br> da mesma forma no html */
h1 {
  font-size: 49px;
  line-height: 56px;
  color: #1F1534;
  font-weight: normal;
  width: 490px;
}
/* 40 em cima e 40 em baixo e 0 nas laterais */
section p {
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
  margin: 40px 0;
}

h1 span {
  color: #89C5CC;
  font-weight: bold;
}

/* text-transform:uppercase -> para transformar o texto em maiúsculo - cursor:pointer para colocar uma mão ao passar por cima*/
button {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap: 10px;
  border-style: none;
  background-color: #69B99D;
  padding: 14px 32px 15px;
  color: #F9F9F9;
  cursor: pointer;
}

/* criamos um botão com animação */
button:hover {
  background-color: #2f6955;
}

footer {
font-size: 14px;
line-height: 28px;
text-align: center;
margin-top: 80px;
}

footer a {
  font-weight: bold;
  color: #1F1534;
}


/* para posicionarmos as balls no fundo direito */
.balls {
  position: fixed;
  bottom: 0;
  right: 0;
}